[phases.setup]
nixPkgs = ["node", "libsodium", "pnpm"]

[phases.install]
cmds = ["pnpm install --frozen-lockfile"]
cacheDirectories = ["/root/.local/share/pnpm/store"]

[phases.build]
cmds = ["pnpm run build", "pnpm prune --prod"]
cacheDirectories = [".next/cache"]

[start]
cmd = "pnpm start"
