[variables]
NODE_ENV = "production"
PNPM_HOME = "/root/.local/share/pnpm"
PNPM_STORE_DIR = "/root/.local/share/pnpm/store"

[phases.setup]
nixPkgs = ["nodejs", "pnpm", "libsodium"]

[phases.install]
cmds = ["pnpm install --frozen-lockfile --prefer-offline"]
cacheDirectories = ["/root/.local/share/pnpm/store"]

[phases.build]
cmds = ["pnpm run build"]
cacheDirectories = [".next/cache"]

[start]
cmd = "node .next/standalone/server.js"